table {
  border: 1px solid #ccc;
}

table td {
  vertical-align: middle;
}

table td,
th {
  padding: 0.75rem;
}
table thead {
  background-color: #f5f5f5;
}

.icon-btn {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
}

.status {
  text-align: center;
  width: 95px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 3px;
  padding: 5px;
}

.status span {
  margin-right: 5px;
}


fa-icon{
  font-size: 18px;
}
